html,
body {
  padding: 0;
  margin: 5rem;
  margin-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff5f5 !important;
  scroll-behavior: smooth;
}

.input-group-text {
  background: #fdc55e !important;
  border-color: #fdc55e !important;
}

.form-control {
  border-color: #fdc55e !important;
  color: #674913 !important;
  font-size: 13px !important;
}

input,
button,
.page-link {
  outline: 0 !important;
  transition: none !important;
}

input:hover,
input:focus,
input:active {
  box-shadow: none !important;
}

.page-link {
  background-color: #fff !important;

}

.page-link:hover,
.page-link:focus,
.page-link:active {
  box-shadow: none !important;
  background-color: #fff !important;
}

button:hover,
button:focus,
button:active {
  box-shadow: none !important;
}

p {
  margin-bottom: 0 !important;
}

.pagination {
  justify-content: center;
}

.page-link {
  color: #f54748 !important;
  border-color: #f54748 !important;
}

.page-item.disabled .page-link {
  color: #6c757d !important;
}
