.wallpaper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3afaf;
  margin-bottom: 2rem;
}

.bg_img {
  width: 80%;
}

.title {
  font-family: inherit;
  font-size: 36px;
  color: #2e2e2e;
  margin-bottom: 1.5rem;
}

.name {
  font-family: inherit;
  font-size: 25px;
  color: #2e2e2e;
}

.sub {
  font-family: inherit;
  font-size: 18px;
  color: #595959;
}

.price_sec {
  margin-top: 1rem;
}

.curr_price {
  background: none !important;
}

.insight_container {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  color: #2e2e2e;
  box-shadow: 5px 5px 10px 0 #fee7e7;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.insight_title {
  background-color: #f54748;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  margin-bottom: 0.5rem;
  border-radius: 6px 0 0 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 0;
}

.triangle_left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 32px solid #fff5f5;
  border-bottom: 15px solid transparent;
}

.similar_img {
  border-radius: 50%;
  width: 60px;
}

.similar_container {
  background: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  color: #2e2e2e;
  box-shadow: 5px 5px 10px 0 #fee7e7;
  margin-bottom: 2rem;
}

.similar_title {
  color: #2e2e2e;
  font-weight: 600;
  font-size: 18px;
}

.similar_name {
  color: #595959;
  font-size: 13px;
}

.insight_point button {
  background: none !important;
  border: none !important;
}

.profile_img svg {
  margin-bottom: 1rem;
}

/* responsiveness */
@media (max-width: 820px) and (min-width: 540px) {
  .similar_container {
    width: 100%;
  }

  .similar_imgparent {
    width: 16.66666667%;
  }
}

@media (max-width: 767px) {
  .insight_title {
    width: 50%;
  }

  .insight_container {
    margin-left: 0;
    margin-top: 1rem;
  }
}
