.main {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  color: #2e2e2e;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 5px 5px 10px 0 #fee7e7;
  margin-bottom: 1.5rem;
}

.sec_text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .5rem;
}

.company_name {
  font-size: 28px;
  font-weight: 600;
  margin-right: 0.75rem;
}

.company_sym {
  opacity: 80%;
}

.descrip {
  color: #595959;
  margin-bottom: 1rem !important;
}

.avatar_sec {
  display: flex;
  align-items: flex-end;
}

.img {
  border-radius: 50%;
  width: 4rem;
  margin-right: 0.75rem;
}

.avatar_subsec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.info_sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info_sec button {
  background: none !important;
  border: none !important;
}

.profile {
  font-size: 22px;
  font-weight: 600;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  padding: 5px 20px;
  border-radius: 5px;
  background: #f54748 !important;
  border: none !important;
  color: #fff !important;
  font-weight: 600;
  float: right;
}

.currPage a {
    background-color: #f54748 !important;
    color: #fff !important;
}

.style_sec {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  color: #2e2e2e;
  box-shadow: 5px 5px 10px 0 #fee7e7;
  height: auto;
  margin-top: 4rem;
  margin-left: 2rem;
}

.sort_btn,
.sort_btn:hover,
.sort_btn:active,
.sort_btn:focus {
  float: left;
  margin: .25rem;
  background-color: #fff !important;
  border: 1px solid #f54748 !important;
  color: #f54748 !important;
}

.sort_btn.active {
  background-color: #f54748 !important;
  color: #fff !important;
}